<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style>
        /* Add your CSS styles here */
        .book {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .book img {
            max-width: 100px;
            max-height: 150px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center">Redis Cached Book Search</h1>
    <div>
        <h2>Error:<%=errorCode%></h2>
        <p> <%= message %></p>
    </div>
</body>
</html>
