<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <title>Redis Book Search</title>

    <meta name="description" content="Redis powered book search with ratelimiting and serverside caching to speed up requests">
    <meta name="keywords" content="redis, caching, ratelimiting">
    <meta name="author" content="PG">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://redis-book-search.onrender.com/">

    <style>
        /* Add your CSS styles here */
        .book {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .book img {
            max-width: 100px;
            max-height: 150px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center">Redis Cached Book Search</h1>
    <div>
        <h2>Error:<%=errorCode%></h2>
        <p> <%= message %></p>
    </div>
</body>
</html>
